*
!ERRATA.md
!README.md
!LICENSE
!BUILDSCRIPT.sh
!BUILDSCRIPT.bash
!CMakeLists.txt
!signalbackup-tools.rb
!*.cc
!*.h
!*.ih
!*.manifest
!*.rc
!*/
!*/*.cc
!*/*.h
!*/*.ih
tests
.#*
*/.#*
!.github/*
!.github/workflows/*.yml
!.gitignore
