*
!README.md
!LICENSE
!BUILDSCRIPT.sh
!BUILDSCRIPT_MULTIPROC.bash44
!CMakeLists.txt
!signalbackup-tools.rb
!*.cc
!*.h
!*.ih
!*/
!*/*.cc
!*/*.h
!*/*.ih
tests
!.github/*
!.github/workflows/*.yml
!.gitignore
